[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
scikit-rf = "*"
pillow = "*"
pyserial = "*"  # this instead of serial package
mpld3 = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"  # Nees to be <3.9 because of pyserial
